/* 
    Fonts
    ---
    @font-face declarations
*/

@font-face {
    font-family: "Inter Web";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 700;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
}

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-family: "droid-serif", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #5C6366;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #00E6A1;
    color: white;
    text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-family: "Inter Web", sans-serif;
    color: #17181A;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 24px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

*+h2 {
    margin-top: 48px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #00A1E6;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #00E6A1;
}

a:hover,
a:focus {
    color: #1ABAFF;
}

/* 
    Component; Author
*/

.c-author {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
}

.c-author__avatar {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.c-author__name,
.c-author__title {
    margin-bottom: 0;
}

.c-author__title {
    font-family: "Inter Web", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.c-author__name {
    font-size: 16px;
    line-height: 24px;
}

/* 
    Component: Article
*/

.c-article__header,
.c-article__body {
    max-width: 1200px;
    margin: 0 auto;
}

.c-article__header {
    padding: 24px;
}

.c-article__title {
    margin-bottom: 0px;
}

.c-article__body {
    padding: 0 24px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .c-article__header {
        padding: 48px;
    }

    .c-article__body {
        padding: 24px 48px;
    }

    .c-article__aside {
        padding-bottom: 24px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */

@media (min-width: 992px) {
    .c-author {
        flex-direction: column;
        align-items: start;
    }

    .c-article__body {
        display: flex;
        gap: 24px;
    }

    .c-article__aside {
        width: 25%;
    }

    .c-article__content {
        width: 75%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 
    Utilities: max-width
    ---
    Utilities classes to put specific max widths onto elements.
*/

.u-max-width-sm {
    min-width: 36em;
}